# Python virtual environments
.venv/
venv/
ENV/
env/

# Python cache & compiled files
__pycache__/
*.py[cod]
*$py.class

# Local Databases
*.sqlite3

# Node modules & frontend builds
node_modules/
dist/
dist-ssr/
*.local

# Environment variables
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# Exclude nested frontend repository
frontend/

